* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(255, 60, 0);
    background: radial-gradient(circle, hsl(88, 100%, 38%) 0%, hsl(88, 100%, 38%) 79%, #1c1c1c 79%, #1c1c1c 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.fecha span {
    font-weight: 600;
    color:hsl(0, 0%, 0%)
}

.cuenta-atras {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.grupo {
    line-height: 1;
}

.grande {
    font-family: sans-serif;
    font-size: 6rem;
    font-weight: 800;
}

@media (width < 550px) {
    .cuenta-atras {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 350px) {
    .cuenta-atras {
        display: flex;
        flex-direction: column;
    }
}

#botonera {
    display: flex;
    padding: 10px;
    gap: 1rem;
}

#btnIniciar{
    background-color: aquamarine;
    padding: 3%;
}